.autocomplete {
  /* TODO> Use important any where ? */
  opacity: 0.6;
  background: transparent;
  position: absolute;
  pointer-events: none;
  width: var(--input-width); /* TODO: Get same width as parent input */
  resize: none;
  border-color: transparent;
}

body {
  font-family: sans-serif;
}

:root {
  --input-width: 400px;
}

textarea {
  width: var(--input-width);
  min-height: 100px;
}
